<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298508107993-ob5l985vl558u7rjcgt73i6hg6c0hj1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298508107993-ob5l985vl558u7rjcgt73i6hg6c0hj1m</string>
	<key>API_KEY</key>
	<string>AIzaSyBxzXU-HHmJ0hPIO75jx-axyRf_kLmU5MM</string>
	<key>GCM_SENDER_ID</key>
	<string>298508107993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amitinbar.amiadporat.staging</string>
	<key>PROJECT_ID</key>
	<string>amiad-porat-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>amiad-porat-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298508107993:ios:be1d2e7705d4acad9bbec8</string>
</dict>
</plist>