<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459963001535-rhk25bkbofij6ar2dg9q2o7fat1p05a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459963001535-rhk25bkbofij6ar2dg9q2o7fat1p05a1</string>
	<key>API_KEY</key>
	<string>AIzaSyB-V4f678NofW6LBmB-qU_ig9SBjth5BOM</string>
	<key>GCM_SENDER_ID</key>
	<string>459963001535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amitinbar.amiadporat</string>
	<key>PROJECT_ID</key>
	<string>amiad-porat</string>
	<key>STORAGE_BUCKET</key>
	<string>amiad-porat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459963001535:ios:e2866114ff1251288f340a</string>
</dict>
</plist>